.container {
	height: auto;
	margin: auto;
	margin-top: 50px;
	width: 800px;
	background: #fff;
	border-radius: 5px;
	padding: 50px 35px 10px 35px;
}

.container h2.brand-name {
	color: #333333;
	font-size: 28px;
	font-family: "Nunito";
	font-weight: 700;
	margin-bottom: 0;
	text-align: center;
}

.container p.subtitle {
	color: #666666;
	font-family: "Open Sans";
	font-size: 15px;
	margin-bottom: 30px;
	text-align: center;
}
.container .form-outer {
	width: 100%;
	overflow: hidden;
}
.container .form-outer form {
	display: flex;
	width: 400%;
}
.form-outer form .page {
	width: 25%;
	transition: margin-left 0.3s ease-in-out;
}

.container .bg-login {
	color: #fff;
	background-color: #748a53;
}

.container .bg-login:hover {
	color: #333333;
	background-color: #dae0e5;
}

.form-outer form .page .title {
	text-align: left;
	font-family: "Nunito";
	font-size: 18px;
	font-weight: 500;
}

.form-outer form .page .type-of {
	margin-top: 10px;
	font-weight: 500;
}

.form-outer form .page .field {
	width: 330px;
	height: 40px;
	margin: 45px 0;
	display: flex;
	position: relative;
}
form .page .field .label {
	position: absolute;
	top: -30px;
	font-family: "Open Sans";
	font-weight: 500;
}

form .page .field input {
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding-left: 15px;
	font-size: 18px;
}
form .page .field select {
	width: 100%;
	padding-left: 10px;
	font-size: 17px;
	font-weight: 500;
}
form .page .field button {
	width: 100%;
	height: calc(100% + 3px);
	border: none;
	font-family: "Nunito";
	background: #748a53;
	margin-top: -20px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.5s ease;
}
form .page .field button:hover {
	background: #dae0e5;
	color: #090b07;
}
form .page .btns button {
	margin-top: -20px !important;
}
form .page .btns button.prev {
	margin-right: 3px;
	font-size: 14px;
}
form .page .btns button.next {
	margin-left: 3px;
}

.form-check {
	width: 330px;
	display: flex;
	position: relative;
}

form .page .field-checkbox .label {
	position: absolute;
	top: -30px;
	font-weight: 500;
	width: 330px;
	display: flex;
	position: relative;
}

.text-check {
	font-weight: 500;
}

@keyframes animate {
	100% {
		transform: scaleX(1);
	}
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
	display: none;
}
.progress-bar .step p.active {
	color: #d43f8d;
	transition: 0.2s linear;
}
.progress-bar .step .check {
	position: absolute;
	left: 50%;
	top: 70%;
	font-size: 15px;
	transform: translate(-50%, -50%);
	display: none;
}
.progress-bar .step .check.active {
	display: block;
	color: #fff;
}

@media screen and (max-width: 400px) {
	.container {
		width: 90%;
	}
}
