/* category menu */
@media screen and (max-width: 1024px) {
	.slide-wrapper .slide-bg .st2-slide-content .st2-slide-title {
		font-size: 20px;
	}
}

@media screen and (max-width: 1024px) {
	.slide-wrapper .slide-bg .st2-slide-content .st2-slide-title {
		line-height: normal;
	}
}

@media screen and (max-width: 425px) {
	.st2-btn-submit {
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		font-size: 14px;
	}
}

@media (max-width: 1280px) {
	.st2-categories .st2-categories-inner .st2-categories-item {
		padding: 0;
		border: solid 3px #f4f4f4;
	}
}

@media screen and (max-width: 425px) {
	.header-bottom
		.header-bottom-st2-wrapper
		.header-bottom-st2-inner
		.st2-control-right
		.st2-control {
		max-width: 100%;
		text-align: right;
		line-height: 40px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
	}
}

@media screen and (max-width: 425px) {
	.st2-header-logo {
		width: 80px;
	}
}

@media screen and (max-width: 425px) {
	.header-bottom
		.header-bottom-st2-wrapper
		.header-bottom-st2-inner
		.st2-header-logo
		img {
		margin-left: -5px;
		width: 75px;
	}
}

@media screen and (max-width: 425px) {
	.navigasi {
		font-size: 22px;
		font-family: "Playfair Display", serif;
		color: #c8c8c8;
	}
}

@media screen and (max-width: 425px) {
	div.container div.explore div.explore-img img {
		position: relative;
		width: 100%;
		height: auto;
		margin-top: -50px;
	}
}

@media screen and (max-width: 425px) {
	.newsletter .newsletter-top .newsletter-title {
		font-family: "Playfair Display", serif;
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	.newsletter .newsletter-top .newsletter-des {
		font-size: 16px;
		margin: 0;
	}
}

@media screen and (max-width: 425px) {
	footer div.copyright p {
		font-size: 12px;
		padding: 10px 0;
		position: relative;
	}
}

@media screen and (max-width: 1280px) {
	.st2-categories {
		top: 50px !important;
		margin-bottom: 0 !important;
	}
	.st2-categories .st2-categories-inner .st2-categories-item {
		padding: 0;
		border: solid 3px #f4f4f4;
	}
	.st2-categories-box-item {
		padding-bottom: 25px;
	}

	.st2-categories
		.st2-categories-inner
		.st2-categories-item
		.st2-categories-info
		.st2-categories-name {
		font-size: 30px;
	}
	.st2-categories
		.st2-categories-inner
		.st2-categories-item
		.st2-categories-link
		.st2-categories-info
		.st2-categories-name {
		font-size: 25px;
	}
	.st2-categories
		.st2-categories-inner
		.st2-categories-item
		.st2-categories-link
		.st2-categories-info
		.st2-categories-count {
		font-size: 14px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		padding: 10px 20px;
	}
}

@media screen and (max-width: 1050px) {
	div.category-menu {
		width: 800px;
	}

	div.category-menu div.main-category div.item {
		width: auto;
	}

	div.category-menu div.main-category div.item p {
		font-size: 14px;
	}
}

@media screen and (max-width: 850px) {
	div.category-menu {
		width: 600px;
	}

	div.category-menu div.main-category div.item img {
		width: 30px;
	}

	div.category-menu div.main-category div.item p {
		font-size: 12px;
	}
}

@media screen and (max-width: 650px) {
	div.category-menu {
		height: auto;
		width: 100%;
	}

	div.category-menu div.main-category {
		overflow-x: scroll;
		justify-content: start;
		width: 100%;
	}

	div.category-menu div.main-category div.item {
		width: auto;
	}

	div.category-menu div.main-category div.item p {
		margin-bottom: 0;
	}
}

/* promo */
@media screen and (max-width: 1150px) {
	div.promo {
		width: 900px;
	}

	div.promo div.bottom {
		justify-content: start;
		overflow-x: scroll;
		width: auto;
	}

	div.promo div.bottom div.card {
		margin: 0 10px;
	}
}

@media screen and (max-width: 950px) {
	div.promo {
		width: 95%;
	}

	div.promo div.card-header {
		height: 45px;
	}

	div.promo div.card-header p {
		font-size: 14px;
	}

	div.promo div.card-header button {
		font-size: 14px;
	}

	div.promo div.bottom {
		padding: 10px;
	}

	div.promo div.bottom div.card div.card-body p.card-text {
		font-size: 14px;
	}

	div.promo div.bottom div.card div.card-body p.oldPrice {
		font-size: 13px;
	}

	div.promo div.bottom div.card div.card-body p.newPrice {
		font-size: 14px;
	}
}

/* product wrapper */
@media screen and (max-width: 1150px) {
	div.product-wrapper {
		width: 880px;
	}

	div.product-wrapper div.main-product div.card {
		margin: 0 10px;
		margin-bottom: 10px;
		width: 156px;
	}

	div.best-product {
		display: block;
	}
}

@media screen and (max-width: 950px) {
	div.product-wrapper {
		width: 600px;
	}

	div.product-wrapper div.main-product {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	div.product-wrapper div.main-product div.card {
		margin: 0 10px;
		margin-bottom: 10px;
		width: 130px;
	}
}

@media screen and (max-width: 650px) {
	div.promo div.card-header {
		height: auto;
		padding-top: 20px;
	}

	div.promo div.card-header button {
		font-size: 12px;
		margin-top: 10px;
		padding: 3px 8px;
	}

	div.product-wrapper {
		width: 90%;
	}

	div.product-wrapper div.main-product {
		display: block;
	}

	div.product-wrapper div.main-product div.card {
		float: left;
		margin: 0 4%;
		margin-bottom: 20px;
		width: 42%;
	}

	div.promo {
		margin-bottom: 50px;
	}
}
